.table-container {
    max-width: 960px;
    max-height: 500px;
    overflow: auto;
    margin: 50px auto;
}

table, td {
    border: 2px solid #999999;
    border-collapse: collapse;
}

td {
    min-width: 100px;
    padding: 10px 15px;
}